body {
    font-family: 'Montserrat', sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

.content-container {
    background-color: #b0d785;
    padding: 20px;
}

nav {
    text-align: center;
}

nav ul {
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 20px;
    font-weight: 900;
    color: #fff;
    text-decoration: none;
}

a {
    transition: all 0.2s ease;
}

ul a:hover {
    background: #e8f6d9;
}

.start-container {
    background: url("../media/kiwi-fruit.png");
    background-repeat: repeat;
    background-size: 25% 100%;
    text-align: center;
    padding: 5px;
    border: 10px solid #b0d785;
}

.healthy-start {
    font-size: 25px;
    font-weight: 800;
}

a.button-ghost {
    background: #b0d785;
    border: 1px solid black;
    color: #fff;
    padding: 20px;
}

a.button {
    background: #fff;
    border: 1px solid black;
    color: #b0d785;
    text-decoration: none;
    padding: 20px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    margin: 20px 10px;
}

a:hover {
    background: #fff;
    border: 1px, solid #fff;
    color: #e8f6d9;
}

.main-content-container {
    background: #e8f6d9;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

@media (min-width: 600px) {
    .main-content-container {
        flex-direction: row;
        margin: 60px auto;
        width: 100%;
        justify-content: space-evenly;
    }
}

.works-container h3 {
    font-size: 40px;
}

.menu-container h3 {
    font-size: 40px;
}

.plans h3 {
    text-align: center;
    font-size: 40px;
}

.flex-row {
    display: flex;
    flex-direction: column;
}

@media (min-width: 600px) {
    .flex-row {
        flex-direction: row;
        margin: 60px auto;
        width: 100%;
        justify-content: space-evenly;
    }
}

.footer-container {
    background-color: #b0d785;
    padding: 15px;
}

.grid-footer {
    display: flex;
    justify-content: space-around;
}

.footer-copyright {
    text-align: center;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3b5998;
    color: #fff;
}

.fa-twitter {
    background: #55acee;
    color: #fff;
}

.fa-instgram {
    background: #f0f;
    color: #fff;
}
